

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  position: relative;
}

.loader{
  position: absolute;
  top: 50%;
   left:50%;
   translate:-50%,-50%
}
.cardname{
   position: absolute;
   top: 8px;
   left:16px;
   color:white;
   font-weight: 600;
   font-size: 18px;
   }
